{{ form_start(form, {'attr': {'id': 'frmNewGutxienekoak'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.portzentaia) }}

<div style="display: none">
    {{ form_end(form) }}
</div>
