
{{ form_start(edit_form,{'attr': {'id': 'frmaddkonpentsatua'}}) }}

    {{ form_errors(edit_form) }}

<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Fetxa' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(edit_form.date, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Orduak' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(edit_form.hours, { 'attr': {'class': 'form-control birkalk'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Minutuak' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(edit_form.minutes, { 'attr': {'class': 'form-control birkalk'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Faktorea' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(edit_form.factor, { 'attr': {'class': 'form-control birkalk'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Orduak konpentsatzera' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(edit_form.total, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<div style="display: none">
    {{ form_end(edit_form) }}
</div>
