
    {{ form_start(form,{'attr': {'id': 'frmaddkonpentsatua'}}) }}

    {{ form_errors(form) }}

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Fetxa' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Orduak' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.hours, { 'attr': {'class': 'form-control birkalk'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Minutuak' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.minutes, { 'attr': {'class': 'form-control birkalk'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Faktorea' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.factor, { 'attr': {'class': 'form-control birkalk'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Orduak konpentsatzera' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.total, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div style="display: none">
        {{ form_end(form) }}
    </div>
