{% extends 'base.html.twig' %}

{% block content_div_start %}{% endblock %}
{% block content_div_end %}{% endblock %}
{% block headline %}{{ 'Langileen zerrenda' | trans }} {% endblock %}

{% block content_row %}

<form id="frmCompare" method="post" action="{{ path('calendar_compare') }}">
    <input id="txtUsers" type="hidden" name="users" value="" title="Users">
</form>
<div id="toolbar">
    <button id="btnCompare" class="btn btn-default">Konparatu</button>
</div>
<table id="table"

       data-id-field="id"
       data-classes="table table-hover table-condensed"
       data-striped="true"

       data-pagination="true"
       data-page-size="15"
       data-search="true"

       data-sort-name="name"
       data-sort-order="asc"

       data-icon-size="sm"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-editable-url="/my/editable/update/path"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-export-types="['csv','excel', 'pdf']"
       data-export-options='{
                 "fileName": "export",
                 "worksheetName": "export",
                 "jspdf": {
                   "autotable": {
                     "styles": { "rowHeight": 20, "fontSize": 10 },
                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                   }
                 }
               }'>

    <thead>
    <tr>
        <th data-checkbox="true"></th>
        <th data-visible="false" data-switchable="false" data-field="id"></th>
        <th data-halign="left" data-align="left" data-field="displayname" data-sortable="true">{{ 'Lankidea' | trans }}</th>
        <th data-halign="left" data-align="left" data-field="saila" data-sortable="true">{{ 'Saila' | trans }}</th>
        <th data-halign="left" data-align="left">{{ 'Urteko orduak' | trans }}</th>
        <th data-halign="center" data-align="center">{{ 'Opor orduak' | trans }}</th>
        <th data-halign="center" data-align="center">{{ 'Norberarentzako orduak' | trans }}</th>
        <th data-halign="center" data-align="center">{{ 'Konpentsatutako orduak' | trans }}</th>
        <th data-halign="center" data-align="center"></th>
    </tr>
    </thead>
    <tbody>

    {% for user in userdata %}

    <tr>
        <td></td>
        <td>{{ user.user.username }}</td>
        <td>{{ user.user.username }}</td>
        <td>{{ user.user.displayName }}</td>
        <td>{{ user.user.department }}</td>
        <td>
            {%  for c in user.calendar %}
                {{ c.hoursYear }} /
                {% if c.template is not null %}
                    {{ c.template.hoursYear }}
                {% else %}
                    -
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for c in user.calendar %}
                {{ c.hoursFree }} /
                {% if c.template is not null %}
                    {{ c.template.hoursFree }}
                {% else %}
                    -
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for c in user.calendar %}
                {{ c.hoursSelf }} /
                {% if c.template is not null %}
                    {{ c.template.hoursSelf }}
                {% else %}
                    -
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for c in user.calendar %}
                {{ c.hoursCompensed }}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script>

        var $table = $("#table"), selections = [];

        function initTable() {
            $table.bootstrapTable({
                height: getHeight()
            });
            $table.bootstrapTable("uncheckAll");
        }

        function getHeight() {
            var winh = $(window).height();
            var h2h = $("h2").outerHeight(true);
            var fooh = $("footer").outerHeight(true);
            return winh - h2h - fooh - 200;
        }

        $(function () {

            initTable();

            // Compare button click
            $(document).on("click", "#btnCompare", function () {
                var tableData = $table.bootstrapTable("getSelections");
                var selection = [];

                if ( tableData.length > 5 ) {
                    bootbox.alert("Ezin dira 5 baina egutegi gehiagi aukeratu.");
                    return -1;
                }


                for ( index = 0, len = tableData.length; index < len; ++index ) {
                    var t1 = tableData[index];
                    selection.push(t1.id);
                }

                $("#txtUsers").val(selection);

                $("#frmCompare").submit();

            });

        });
    </script>
{% endblock %}
