
{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/bootstrap-colorpicker.min.css">
{% endblock %}
{% block headline %}{{ 'Motak' | trans }} {% endblock  %}
{% block content_row %}

    {#{{ form_start(edit_form) }}#}
    {#{{ form_widget(edit_form) }}#}
        {#<input class="btn btn-primary" type="submit">#}
    {#{{ form_end(edit_form) }}#}

{{ form_start(edit_form, {'attr': {'id': 'form_type_edit'}}) }}
<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Izena' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Deskribapena' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
        {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Orduak' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(edit_form.hours, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Kolorea' | trans }}</label>
    <div class="col-sm-7">
        <div id="cp2" class="input-group colorpicker-component">
            {{ form_widget(edit_form.color, { 'attr': {'class': 'form-control'} }) }}
            <span class="input-group-addon"><i></i></span>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Ordena' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(edit_form.orden, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

    {{ form_rest(edit_form) }}

    <div class="row text-center">
        <input class="btn btn-primary" type="submit" value="{{ 'Gorde'|trans }}">
    </div>


{{ form_end(edit_form) }}

{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script src="/js/bootstrap-colorpicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#cp2").colorpicker();
        });
    </script>

{% endblock %}
