{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
{% endblock %}
{% block headline %}{{ 'Firma zerrenda' | trans }} {% endblock  %}


{% block content_row %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Zerrenda berria</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Utzi</button>
                    <button type="button" class="btn btn-primary" id="btnNewZerrenda">Sortu</button>
                </div>
            </div>
        </div>
    </div>

    <div id="toolbar">
        <button id="btnBerria" class="btn btn-default">Zerrenda berria</button>
    </div>

    <table data-toggle="table"
           data-classes="table table-hover table-condensed"
           data-striped="true"

           data-pagination="true"
           data-page-size="25"
           data-search="true"
            {#data-height="300"#}

           data-sort-name="name"
           data-sort-order="asc"

           data-icon-size="sm"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"

           data-toolbar="#toolbar"
           data-show-export="true"
           data-export-types="['csv','excel', 'pdf']"
           data-export-options='{
                 "fileName": "export",
                 "worksheetName": "export",
                 "jspdf": {
                   "autotable": {
                     "styles": { "rowHeight": 20, "fontSize": 10 },
                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                   }
                 }
               }'>

        <thead>
        <tr>
            <th data-halign="center" data-align="left" data-field="firma.eskaera.user.displayname" data-sortable="true">{{ 'Nork' | trans }}</th>
            <th data-halign="center" data-align="left" data-field="sinatzaileakdet"  data-sortable="true">{{ 'Erabiltzaileak' | trans }}</th>
            <th data-halign="center" data-align="center"></th>
        </tr>
        </thead>
        <tbody>
        {% if sinatzaileaks is  defined   %}
        {% for sinatzaileak in sinatzaileaks %}
            <tr>
                <td></td>
                <td>

                </td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin_sinatzaileak_show', { 'id': sinatzaileak.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_sinatzaileak_edit', { 'id': sinatzaileak.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('#btnBerria').on('click', function () {
                $('#myModal').modal();
            });

        })

    </script>
{% endblock %}
