{% extends 'base.html.twig' %}

{% block headline %}{{ 'Txantiloiak' | trans }} {% endblock  %}

{% block content_row %}

        <div id="toolbar">
            <button id="btnBerria" class="btn btn-default">Txantiloi berria</button>
        </div>
        <table data-toggle="table"
               data-classes="table table-hover table-condensed"
               data-striped="true"

               data-pagination="true"
               data-page-size="25"
               data-search="true"
               {#data-height="300"#}

               data-sort-name="id"
               data-sort-order="desc"

               data-icon-size="sm"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"

               data-toolbar="#toolbar"
               data-show-export="true"
               data-export-types="['csv','excel', 'pdf']"
               data-export-options='{
                 "fileName": "export",
                 "worksheetName": "export",
                 "jspdf": {
                   "autotable": {
                     "styles": { "rowHeight": 20, "fontSize": 10 },
                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                   }
                 }
               }'>

            <thead>
                <tr>
                    <th data-halign="center" data-align="left" data-field="id" data-sortable="true">#</th>
                    <th data-halign="center" data-align="left" data-field="name" data-sortable="true">Name</th>
                    <th data-halign="center" data-align="right" data-field="Hours_year" data-sortable="true">{{ 'Lan orduak guztira' | trans }}</th>
                    <th data-halign="center" data-align="right" data-field="Hours_free" data-sortable="true">{{ 'Opor orduak guztira' | trans }}</th>
                    <th data-halign="center" data-align="right" data-field="Hours_self" data-sortable="true">{{ 'Norberarentzako orduak' | trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for template in templates %}
                <tr>
                    <td>{{ template.id }}</td>
                    <td class="templateid-{{ template.id }}">{{ template.name }}</td>
                    <td>{{ template.hoursyear }}</td>
                    <td>{{ template.hoursfree }}</td>
                    <td>{{ template.hoursself }}</td>
                    <td class="text-center">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a href="{{ path('admin_template_copy', { id: template.id}) }}">
                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btnEditRow" data-id="{{ template.id }}" href="{{ path('admin_template_edit', { 'id': template.id }) }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                {{ form_start(deleteforms[template.id],{'attr': {'id': template.id}}) }}
                                <a class="btnRemoveRow" data-id="{{ template.id }}" href="#">
                                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                </a>
                                {{ form_end(deleteforms[template.id]) }}
                            </li>

                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <div class="modal modal-fade" id="new-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        {{ 'Txantiloi berria' | trans }}
                    </h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('AppBundle:Template:new' )) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Ezeztatu' | trans }}</button>
                    <button type="button" class="btn btn-primary" id="btnGordeModal">
                        {{ 'Gorde' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script >
        $( document ).ready(function() {

            $('#btnBerria').on('click', function () {
                $('#new-modal').modal();
            });

            $('#new-modal').on('shown.bs.modal', function () {
                $('#appbundle_type_name').focus()
            });

            $(document).on( 'click', '.btnRemoveRow', function(){
            // $('.btnRemoveRow').on('click', function () {
                console.log("hemen");
                var that = $(this);
                bootbox.confirm({
                    title: "{{ 'Adi!' | trans }}",
                    message: "{{ 'Ziur zaude ezabatu nahi duzula?' | trans }}",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> {{ 'Ezeztatu' | trans }}'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> {{ 'Onartu' | trans }}'
                        }
                    },
                    callback: function (result) {
                        if ( result === true ) {
                            $(that).closest('form').submit();
                        }
                    }
                });
            });

        });
    </script>

{% endblock %}
