{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Izena' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Lan orduak guztira' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.hours_year, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Opor orduak guztira' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.hours_free, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Norberarentzako orduak' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.hours_self, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Egun bat zenbat ordu dira' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(form.hoursDay, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    {{ form_end(form) }}